#Avoid coping of '.git' folder and '.gitignore' file during production
.git*
#Avoid copying of data volume folders during production for faster image build time and to make sure that the initial data volume don't copy existing files(You data will still showup during development because project volume will overlay the files.)
storage/app/*
