/vendor

# vi files
*.swp
tags

# eclipse files
.buildpath
.project
.settings

# ignore phpDocumentor directory
/public/app-documentation

# ignore phpunit code coverage directory
#/public/phpunit-coverage
